---
layout: page
# The Home page layout
---

{% include lang.html %}

<div class="post-list">
  {% for post in site.posts %} {% if post.categories contains "About" %}

  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %} {{ content |
        markdownify }}
      </p>
    </div>

    <!-- .post-meta -->
  </div>
  <!-- .post-review -->
  {% endif %} {% endfor %}
</div>
<!-- .post-list -->
